
.form {
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  display: flex;
  flex-direction: row;
  height: 600px;
  width: 880px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.img{
  height: 100%;
  width: 50%;
  margin: 1px;
  background-color: aquamarine;
}

.mainlog{
  display: flex;
  justify-content: center;
  align-items: center;
}

.log{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
  width: 85%;
  margin: 1px;
  padding: 3px;
  border-radius: 15px;
  transition: 5s;
}

.intro{
  width: 95%;
}

.form-title {
  font-size: 200%;
  line-height: 1.75rem;
  font-weight: 600;
  color: #000;
}

.cleargrey{
  color: #6B7280;
  font-size: small;
}
  
.input-container {
  position: relative;
}
  
.input-container input, .form button {
  outline: none;
  border: 1px solid #e5e7eb;
  margin: 8px 0;
}
  
.input-container input {
  background-color: #fff;
  padding: 1rem;
  padding-right: 3rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 300px;
  height: 15px;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.param{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: small;
}

.param .remember{
  width: 50%;
  display: flex;
  flex-direction: row;
}

/*.param .remember input{
  border-radius: 50px;
}
  
wanna make the check box a circle*/

.submit {
  display: block;
  padding: 0.75rem 1.25rem;
  background-color: #313132;
  color: #ffffff;
  font-size: x-large;
  line-height: 1.25rem;
  font-weight: 500;
  width: 99.8%;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.5s;
  margin-bottom: 0px;
}

.submit:hover{
  background-color: #3b3b3c;
  width: 100%;
  color: #ececec;
  outline: 4px auto -webkit-focus-ring-color;

}

.signup-link {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: left;
  float: left;
  margin-top: 0px;
}
  
.signup-link a {
  text-decoration: underline;
  text-align: right;
  float: right;
}