body {
    margin: 0;
    font-family: 'Roboto', sans-serif;}
.navbar {
    background-color: #ffffff; 
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .navbar h1 {
    margin-left: 10px;
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: 600;
  }
  .button-container {
    display: flex;
    gap: 16px;
    padding: 16px;
  }
  .button {
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button-blue {
    background-color: #ffffff;
    border: 2px solid black;
    color: black;
  }
  
  .button-blue:hover {
    background-color: #000000;
    color: white;
  }
  
  .button-green {
    background-color: #000000;
    border: 2px solid rgb(0, 0, 0);
  }
  
  .button-green:hover {
    background-color: #ffffff;
    border: 2px solid black;
    color: black;}
  